<!-- without ngrx -->
<!-- <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="my-3">
          <app-counter-output [counter]="counter"></app-counter-output>  
        </div>
       
      </div>
      <div class="col-md-12 ">
        <div class="my-3">
            <app-counter-buttonns (increment)="onIncrement()" (decrement)="onDecrement()" (reset)="onReset()"></app-counter-buttonns>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="my-3">
          <app-counter-output ></app-counter-output>  
        </div>
       
      </div>
      <div class="col-md-12 ">
        <div class="my-3">
            <app-counter-buttonns></app-counter-buttonns>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="my-3">
            <app-custom-counter-input></app-custom-counter-input>
        </div>
      </div>
    </div>
  </div>
