<div class="row">
    <div class="col-md-8">
        <h3>Posts List</h3>
        <table class="table table-striped">
            <div>
                <a href="#" class="btn btn-primary" [routerLink]="['/post/add']">Add Post</a>
            </div>
        <thead>
            <tr>
                <th>Id</th>
                <th>title</th>
                <th>description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts |async">
                
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td>
                    <a href="" class="btn btn-primary"
                    [routerLink]="['edit',post.id]">Update</a>
                </td>
                <td><button  class="btn btn-danger" (click)="OnDelete(post.id!)">Delete</button></td>
            </tr>
        </tbody> 
    </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
        </div>
</div>